<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: DarkSlateGray;}
h1   {color: LightSeaGreen; text-align: center;}
h2   {color: LightSeaGreen; text-align: center;}
p    {color: LightSeaGreen; text-align: center;}
label{color: LightSeaGreen; text-align: center;}
form {text-align: center;}
.bottom-space {
     margin-bottom: 1cm;
  }
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
}
.flex-child:first-child {
    margin-right: 20px;
}
</style>
</head>
<body>

<h1>Wiki Eval</h1>

<h2>Article:</h2>

<form method="POST">
	<label for="name">Search by article ID:</label>
    <input name="article">
    <input type="submit" name="submit_button" value="Search Article">
</form>

<p class = "bottom-space"> </p>

<div class="flex-container">
  <div class="flex-child magenta">
    <p>ID: </p>
    <p>Title: </p>
    <p>Current ID: </p>
    <p>Number of edits: </p>
    <p>Number of unique authors: </p>
    <p>Author diversity: </p>
    <p>Age: </p>
    <p>Currency: </p>
  </div>

  <div class="flex-child green" id='info_section'>
      {% for data in article_data %}
          <p>{{ data[0] }}</p>
          <p>{{ data[1] }}</p>
          <p>{{ data[2] }}</p>
          <p>{{ data[3] }}</p>
          <p>{{ data[4] }}</p>
          <p>{{ data[5] }}</p>
          <p>{{ data[6] }}</p>
          <p>{{ data[7] }}</p>
      {% endfor %}
  </div>
</div>

<p class = "bottom-space"> </p>

<h2>Revision:</h2>

<form method="POST">
	<label for="name">Search by revision ID:</label>
    <input name="revision">
    <input type="submit" name="submit_button" value="Search Revision">
</form>

<p class = "bottom-space"> </p>

<div class="flex-container">
  <div class="flex-child magenta">
    <p>ID: </p>
    <p>Title: </p>
    <p>Number of internal links: </p>
    <p>Number of external links: </p>
    <p>Article length: </p>
    <p>Article ID: </p>
    <p>Flesch score: </p>
    <p>Kincaid: </p>
    <p>Number of images: </p>
    <p>Average sentence length: </p>
    <p>Date of revision: </p>
  </div>

  <div class="flex-child green" id='info_section'>
      {% for data in revision_data %}
          <p>{{ data[0] }}</p>
          <p>{{ data[1] }}</p>
          <p>{{ data[2] }}</p>
          <p>{{ data[3] }}</p>
          <p>{{ data[4] }}</p>
          <p>{{ data[5] }}</p>
          <p>{{ data[6] }}</p>
          <p>{{ data[7] }}</p>
          <p>{{ data[8] }}</p>
          <p>{{ data[9] }}</p>
          <p>{{ data[10] }}</p>
      {% endfor %}
  </div>
</div>

<p class = "bottom-space"> </p>

</body>
</html>
